.gyal {
width: 500px;
height: 500px;
background: url(gyal.png) 0 0 no-repeat;
animation: play 0.5s steps(4) infinite;
}

@keyframes play {
    0%{background-position: 0px;}
    100%{background-position: -2000px;}
}







